<div class="container">
    <form class="card" onsubmit="tokenProvider(question15)" method="POST">
        <div class="question-15">
            15.The name is written on the note: One snowy night, Sherlock Holmes was in his house sitting by the fire.
            All of a sudden a snowball came crashing through his window and broke it. Holmes got up and looked out the
            window just in time to see 3 neighborhood kids who were brothers run around a corner.
            The next day Holmes got a note that read: “? Crimson. He broke your window.”
            Which of the 3 Crimson brothers should Sherlock Holmes question about the incident?(First name is the
            answer)

        </div>
        <div class="imageholder"><img src="question/image/mark.png" class="image1"></div>
        <input type="text" name="question15" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>