<div class="container">
    <form class="card" onsubmit="tokenProvider(question26_n)" method="POST">
        <div class="question">26** 3$2=10
            7$3=50
            10$7=68
            14$10= ??
            <br></div>
        <input type="text" name="question26_n" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>