<div class="container">
    <audio src="question/demo.mp3" controls autoplay style="display: none;">
        Error: your web browser does not support this audio player.
    </audio>
    <form class="card" onsubmit="tokenProvider(question18)" method="POST">
        <div class="question">18. You will find this place at 1:32
            <br></div>
        <input type="text" name="question18" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>