<div class="container">
    <form class="card" onsubmit="tokenProvider(question19)" method="POST">
        <div class="question">19.In 1970, Lester Piggot won the Derby with which horse?
            <br></div>
        <input type="text" name="question19" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>