<div class="container">
    <form class="card" onsubmit="tokenProvider(question26_nn)" method="POST">
        <div class="question">26***.Amidst the mystery yet to be resolved ,

            Which is too tough to solve,

            As anyone who attempts to solve it deeply

            Gets attached and beholds the Riddell .
            <br></div>
        <input type="text" name="question26_nn" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>