<div class="container">
    <form class="card" onsubmit="tokenProvider(question04)" method="POST">
        <div class="question">4. Find the next number in the the below series 23, 38, 56, 77, _____
            <br></div>
        <input type="text" name="question04" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>