<div class="container">
    <form class="card" onsubmit="tokenProvider(question25)" method="POST">
        <div class="question">25. 664,332,340,170,__,89, .... <br>Fill in the blanks.
            <br></div>
        <input type="text" name="question25" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>