<div class="container">
    <form class="card" onsubmit="tokenProvider(question08)" method="POST">
        <div class="question">8.What goes up but never goes down?
            <br></div>
        <input type="text" name="question08" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>