<div class="container">
    <form class="card" onsubmit="tokenProvider(question29)" method="POST">
        <div class="question">29. 9 -> 106
            10 -> 136
            11 -> 170
            <br> 12-> ?
            <br></div>
        <input type="text" name="question29" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>