<div class="container">
  <form class="card" onsubmit="tokenProvider(question16)" method="POST">
    <div class="question">16*.A man wanted to encrypt his password but he needed to do it in a way so that<br> he could
      remember it. He had to use seven characters consisting of letters and numbers only (no symbols like ! or #).<br>In
      order to remember it, he wrote down “You force heaven to be empty.” What is his password?

      <br></div>
    <input type="text" name="question16" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
      autofocus>
    <button type="submit" class="button">Answer</button>


  </form>
</div>