<div class="container">
    <form class="card" onsubmit="tokenProvider(question16_nn)" method="POST">
        <div class="question">16***Start at second letter of 'Atlas',skip the last letter of 'RaspBerry' and 'Adieu',the
            first letter of 'Italy'. Stop at last letter of 'Tulip'.
            <br></div>
        <input type="text" name="question16_nn" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>