<div class="container">
    <form class="card" onsubmit="tokenProvider(question28)" method="POST">
        <div class="question">28.It is greater than God,
            More evil than Satan,
            The poor have it,
            The rich need it.
            What is it?
            <br></div>
        <input type="text" name="question28" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>