<div class="container">
    <form class="card" onsubmit="tokenProvider(question02)" method="POST">
        <div class="question">2.Which is the only word in the English alphabet that is still pronounced the same way
            when the last four letters are removed? <br></div>
        <input type="text" name="question02" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>