<div class="container">
    <form class="card" onsubmit="tokenProvider(question05)" method="POST">
        <div class="question">5. Which chemical tastes salty when taken in concentrated form and is represented by a
            english alphabet?
            <br></div>
        <input type="text" name="question05" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>