<div class="container">
    <form class="card" onsubmit="tokenProvider(question14)" method="POST">
        <div class="question">14. 2, 12, 36, 80, 150,..
            <br></div>
        <input type="text" name="question14" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>