<div class="container">
    <form class="card" onsubmit="tokenProvider(question24)" method="POST">
        <div class="question">24.What are the next three letters in the following sequence?<br>J, F, M, A, M, J, J, A,
            __, __, __
            <br></div>
        <input type="text" name="question24" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>