<div class="container">
    <form class="card" onsubmit="tokenProvider(question06)" method="POST">
        <div class="question">6*.A cat is burrying a soil . Can you tell this sentence in one word .
            <br></div>
        <input type="text" name="question06" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>