<div class="container">
    <form class="card" onsubmit="tokenProvider(question22)" method="POST">
        <div class="question">22. KITE:NSZE::PLAY: ??
            <br></div>
        <input type="text" name="question22" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>