<div class="container">
    <form class="card" onsubmit="tokenProvider(question06_nn)" method="POST">
        <div class="question">6***. 4,7,35,10,_,52,16,19,91....
            <br></div>
        <input type="text" name="question06_nn" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>