<div class="container">
    <form class="card" onsubmit="tokenProvider(question06_n)" method="POST">
        <div class="question">6**. Today it is Thursday.After 132 days,it will be?
            <br></div>
        <input type="text" name="question06_n" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>