<div class="container">
    <form class="card" onsubmit="tokenProvider(question12)" method="POST">
        <div class="question">12.Can you Decrypt the name of a software company in this picture?<br>
            <img src="question/image/company.png" class="imagebird"></div>
        <input type="text" name="question12" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>