<div class="container">
    <form class="card" onsubmit="tokenProvider(question23)" method="POST">
        <div class="question">23. Which neighbour country of India got its name changed in the year 1939?
            <br></div>
        <input type="text" name="question23" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>