

<div class="container">
    <form class="card" onsubmit="tokenProvider(question27)" method="POST">
        <div class="question">27.This place has many rooms, including the Great Hall.
            In 1994,
            It hosted the Yule Ball.
            <br></div>
        <input type="text" name="question27" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>