<div class="container">
    <form class="card" onsubmit="tokenProvider(question07)" method="POST">
        <div class="question">7.How many times can you subtract 10 from 100?
            <br></div>
        <input type="text" name="question07" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>