<div class="container">
    <form class="card" onsubmit="tokenProvider(question10)" method="POST">
        <div class="question">10.Find the area of the triangle whose coordinates are (1, 2) , (3, 4) and (5, 10) ?
            <br></div>
        <input type="text" name="question10" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>