<div class="container">
    <form class="card" onsubmit="tokenProvider(question11)" method="POST">
        <div class="question">11.When you put a person in this<br>You shouldn’t hear any knocks<br>If you do there’s
            been a mistake<br>And you should open this pine box
            <br></div>
        <input type="text" name="question11" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>