<div class="container">
    <form class="card" onsubmit="tokenProvider(question30)" method="POST">
        <div class="question">30.Shyama is found dead in his office at his desk.
            Sherlock Holmes was working on this case and have narrowed the suspects down to three people.
            All three suspects visited Shyama on the day of his murder for various reason as they told to sherlock.
            As we know where police failed , sherlock comes.
            He was able to find a note at the corner of the wall. "7891011" was written on it.
            Sherlock waste no time in announcing the killer. Who was the killer ?
            <br></div>
        <input type="text" name="question30" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>