<div class="container">
    <form class="card" onsubmit="tokenProvider(question21)" method="POST">
        <div class="question">21. How far can a rabbit run into the woods?
            <br></div>
        <input type="text" name="question21" class="answer" id="answer1" onkeypress="enterpressalert(event, this)"
            autofocus>
        <button type="submit" class="button">Answer</button>


    </form>
</div>